#root {
  width: 100%;
  height: 100%;
}

.container {
  margin: 7% 0 0 10%;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: left;
}

.module-row {
  display: grid;
  gap: 10px;
  width: 100%;
  white-space: pre-wrap;
}

input[type="text"] {
  flex: 1;
  padding: 7px 84px;
  font-size: 16px;
  border-radius: 13px;
  height: 34px;
  border: solid 3px #2a5385;
  color: #b7c4d3;
  width: -webkit-fill-available;
  position: relative;
}

input::placeholder {
  color: #b7c4d3;
  opacity: 1;
}

p {
  color: #b7c4d3;
}

.button-send {
  position: absolute;
  width: 75px;
  height: 108%;
  font-size: 32px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff00;
  right: 0;
  background: #2a5385;
  border-radius: 9px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: grid;
  cursor: pointer;

}

.input-container {
  position: absolute;
  display: inline-block;
  width: 66%;
}

.input-field {
  padding-right: 30px;
  height: 30px;
}


.fa-microphone {
  color: #2a5385;
  font-size: 32px;
  position: absolute;
  left: 36px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.container-message {
  background-color: #2a5385;
  display: block;
  text-align: center;
  padding: 11px 3px 3px;
  width: 30px;
  border-radius: 8px;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  font-size: 27px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.text {
  color: white;
}

.answer {
  height: 23px;
  color: #accae5;
  font-size: 18px;
}