#root {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.module-row {
  display: grid;
  gap: 10px;
  width: 100%;
  white-space: pre-wrap;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  background-color: #ff8b8b;
    width: 50%;
}

button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

.reply-box {
  margin-top: 15px;
  padding: 10px;
  border: 1px solid #333;
  min-height: 50px;
  white-space: pre-wrap;
}